:root {
    --bg: #FEF5EA;
    --text-color: #1F1C4E;
    --accent-color: #40FF40;
    --attantion-color: #DF0000;
}

* {    
    -webkit-box-sizing: border-box;    
            box-sizing: border-box;
}

p, h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}

a {    
    text-decoration: none;
    color: inherit;
    position: relative;
}

a::before {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transition: 0.6s;
    background-color: var(--accent-color);
    z-index: -1;
}

a:hover::before {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Poppins", serif;
    background-color: var(--bg);
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.3;
    line-height: normal;
    font-weight: 400;
    position: relative;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.main {
    min-height: 80vh;
    padding: 10vw 0;
}

.hero {
    padding-bottom: 5vw;
}

.hero__title {
    font-size: 3rem;
    text-align: center;
}

.wigets__title {
    font-size: 2.5rem;
    text-align: center;
}

.wigets__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.wigets__item {
    position: relative;
}

.wigets__item-title {
    margin-bottom: 1rem;
}

.wigets__item-soon {
    position: absolute;
    top: 4rem;
    right: -1rem;
    transform: rotate(45deg);
    background-color: var(--attantion-color);
    color: var(--bg);
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.25rem;
}

.wigets__item-img {
    width: 100%;
    height: 12.75rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__copyrights {
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 986px;
    }

    .wigets__list {
        gap: 1rem;
    }

    .wigets__item-title {
        font-size: 1rem;
    }

    .wigets__item-img {
        height: 12rem;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }

    .wigets__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 620px) {
    .wigets__list {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .wigets__item {
        max-width: 376px;
        margin: 0 auto;
        width: 100%;
    }
}